name: Deploy to Vercel

on:
  push:
    branches: [main]
    paths-ignore:
      - 'scripts/db-backup.json'
      - '*.md'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Vercel CLI
        run: npm install -g vercel
      - name: Deploy to Vercel
        run: vercel deploy --prod --yes --token "${{ secrets.VERCEL_TOKEN }}"
        env:
          VERCEL_ORG_ID: team_wDGOB0WMie0ClTLouzsdpSpy
          VERCEL_PROJECT_ID: prj_4PK94g1IDoC5IjVeyU8k4sC8V3mA
